.crateStacks {
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
}

.crateStack {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  margin-top: 2rem;
}

.smallCrate {
  width: 1.5rem;
  height: 1.5rem;
}

.mediumCrate {
  width: 1.8rem;
  height: 1.8rem;
}

.largeCrate {
  width: 2.1rem;
  height: 2.1rem;
}

.extraLargeCrate {
  width: 2.4rem;
  height: 2.4rem;
}

.emptyCrate, .fullCrate {
  border: 3px solid var(--primary);
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  margin: 0.2rem;
}

.fullCrate {
  background-color: var(--primary);
  color: var(--background);
}
