.crateReservation {
  background-color: white;
  border-radius: 0.5rem;
  padding: 1.5rem 1.5rem 1rem 1.5rem;
  color: var(--primary);
  display: flex;
  flex-direction: column;
  margin: 0.8rem 0;
  box-shadow: 0 4px 4px var(--shadow);
  align-items: flex-start;
}

.header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5rem;
}

.crateSize {
  display: flex;
  align-items: center;
  font-size: 1.3rem;
}

.cancelButton {
  border: 1px solid var(--primary);
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1;
  color: var(--primary);
  background-color: transparent;
}

.cancelButton:active {
  border-color: var(--primary-dark);
  color: var(--primary-dark);
}

.warning {
  background-color: var(--warning);
  color: white;
  font-weight: bold;
  padding: 0.5rem;
  border-radius: 3px;
}
