.animals {
  overflow-y: auto;
  margin: 0.5rem 0 1rem 0;
}

.animals, .filter {
  width: 100%;
}

.check {
  font-size: 3rem;
  margin-right: 1rem;
  color: var(--confirm)
}

.selected > * {
  opacity: 0.5;
}

.clickable {
  cursor: pointer;
}

.done {
  background-color: var(--primary);
  border-radius: 3px;
  border: none;
  padding: 1rem;
  font-family: var(--content-font);
  color: var(--background);
  text-decoration: none;
  box-shadow: 0 2px 2px var(--shadow);
  transition: background-color 0.1s;
  min-width: 6rem;
}

.done:active {
  background-color: var(--primary-dark);
}
