.animals,
.addAnimals {
  width: 100%;
}

.addAnimals {
  background-color: var(--primary);
  border-radius: 3px;
  border: none;
  padding: 0.5rem 1rem;
  font-family: var(--content-font);
  color: var(--background);
  box-shadow: 0 2px 2px var(--shadow);
  transition: background-color 0.1s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.addAnimals:active {
  background-color: var(--primary-dark);
}

.addAnimals {
  margin-bottom: 1rem;
}

.overlay {
  z-index: 200;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--shadow);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  width: 90%;
  max-width: 40rem;
  height: 70%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  background-color: white;
  padding: 1rem;
  border-radius: 3px;
  border: 1px solid var(--background);
}

.done {
  background-color: var(--primary);
  border-radius: 3px;
  border: none;
  padding: 1rem;
  font-family: var(--content-font);
  color: var(--background);
  text-decoration: none;
  box-shadow: 0 2px 2px var(--shadow);
  transition: background-color 0.1s;
  min-width: 6rem;
}

.done:active {
  background-color: var(--primary-dark);
}
